body {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
}

nav {
    padding: 16px;
    border-bottom: 1px solid black;
    color: white;
    background: darkgreen;
}

.white-over-dark-b {
    color: white;
}

main {
    padding: 16px;
    margin-bottom: 10px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    position: sticky;
    bottom: 0px;
}

img {
    height: 200px;
}

a {
    text-decoration: none;
    color: green
}

a:hover {
    color: lightgreen;
}

h1 {
    color: darkgreen;
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

/* Grid layout */
.four-col-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

}

.recipe-img-rating {

}
