body {
    margin-top: 0px;
    margin-bottom: 0px;
}

nav {
    border-bottom-style: 1px solid black;
    padding: 16px;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

img {
    height: 200px;
}
